trigger:
  # - main
  - none
pool:
  name: Default
variables:
  - group: authGroup
  ##### following variables are defined in the variable group #####
  # azureSubscription
  # appNameTest
  # appNameProd
  # slotName
  # comments
stages:
  ################################################## Build ##################################################
  - stage: Build
    displayName: "Build & Publish"
    jobs:
      - job: Publish
        steps:
          - task: DotNetCoreCLI@2
            displayName: "Publish Code"
            inputs:
              command: "publish"
              workingDirectory: "Auth"
              arguments: "--configuration Release --output $(Build.ArtifactStagingDirectory)"
              publishWebProjects: false
              zipAfterPublish: true
          - publish: "$(Build.ArtifactStagingDirectory)"
            displayName: "Publish Artifact"
            artifact: drop

  ################################################## Deploy to Test ##################################################
  - stage: "Test_Deployment"
    displayName: "Test Deployment"
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: Deploy
        environment: dev
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - task: AzureWebApp@1
                  displayName: "Deploy"
                  inputs:
                    azureSubscription: "$(azureSubscription)"
                    appType: "webAppLinux"
                    appName: "$(appNameTest)"
                    package: "$(Pipeline.Workspace)/drop/*.zip"
  ################################################## Deploy to Stage ##################################################
  - stage: "Stage_Deployment"
    displayName: "Stage Deployment"
    dependsOn: Test_Deployment
    condition: succeeded()
    jobs:
      - deployment: Deploy
        environment: stage
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - task: AzureWebApp@1
                  displayName: "Deploy"
                  inputs:
                    azureSubscription: "$(azureSubscription)"
                    appType: "webAppLinux"
                    appName: "$(appNameProd)"
                    package: "$(Pipeline.Workspace)/drop/*.zip"
                    deployToSlotOrASE: true
                    slotName: "$(slotName)"
  ################################################## Deploy to Prod ##################################################
  - stage: "Prod_Deployment"
    displayName: "Prod Deployment"
    dependsOn: Stage_Deployment
    condition: succeeded()
    jobs:
      - deployment: Deploy
        environment: prod
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureAppServiceManage@0
                  displayName: Swap staging to production
                  inputs:
                    azureSubscription: "$(azureSubscription)"
                    Action: "Swap Slots"
                    WebAppName: "$(appNameProd)"
                    SourceSlot: "$(slotName)"
                    resourceGroupName: "auth-prod-rg"

