trigger:
  # - main
  - none
pool:
  name: Default
stages:
  - stage: Build
    displayName: "Build & Publish"
    jobs:
      - job: Format
        steps:
          - script: |
              dotnet tool install dotnet-format
              dotnet format --exclude Migrations --report format-report.json || true
      - job: Test
        steps:
          - script: |
              dotnet test Auth.Tests/Auth.Tests.csproj --filter 'FullyQualifiedName!~Zuhid.Auth.Tests.Api' --settings Auth.Tests/coverlet.runsettings --logger 'trx;LogFileName=TestResult.trx' --collect 'XPlat Code Coverage'
            displayName: "Run Test"
          - task: PublishTestResults@2
            displayName: "Publish Test Results"
            inputs:
              testResultsFormat: "VSTest"
              testResultsFiles: "$(Build.SourcesDirectory)/Auth.Tests/TestResults/TestResult.trx"
          - task: PublishCodeCoverageResults@2
            displayName: "Publish Code Coverage Results"
            inputs:
              summaryFileLocation: "$(Build.SourcesDirectory)/Auth.Tests/TestResults/*/coverage.cobertura.xml"
