.card {

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 5px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 2px 1px var(--bg-color-shadow);

  header,
  main,
  footer {
    padding: 10px;
  }

  header {
    display: flex;
    flex-direction: row;
    background: var(--Cool-Grey-4);

    >span {
      flex-grow: 1;
      font-size: larger;
      font-weight: bold;
    }

    >a {
      flex-grow: 0;
      margin: 0 3px;
      cursor: pointer;
    }
  }

  footer {
    text-align: right;
  }
}
