.card {
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;

  .card-header {
    display: flex;
    flex-direction: row;

    >span {
      flex-grow: 1;
    }

    >a {
      flex-grow: 0;
      margin: 0px 3px;
      cursor: pointer;
    }
  }
}
