@page "/"
@using System.Threading.Tasks

<PageTitle>Home</PageTitle>

<Autocomplete @ref="@AutoCompleteRef" Items="@Options" @bind-Value="SelectedCountry" />

<p>You selected: @SelectedCountry</p>

<input type="button" value="Toggle" onclick="@Toggle" />

@code {
  private Autocomplete? AutoCompleteRef { get; set; }

  private string? SelectedCountry;

  private List<string> Options = ["Test"];

  private List<string> Countries = new() {
"United States", "United Kingdom", "Canada", "Germany", "France", "Spain", "Italy", "Australia", "Brazil", "India"
};
  private List<string> States = new() {
"Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado",
};
  private string ToggleType = "Countries";

  private async Task Toggle()
  {
    if (ToggleType == "Countries")
    {
      ToggleType = "States";
      await AutoCompleteRef!.UpdateItems(States);
    }
    else
    {
      ToggleType = "Countries";
      await AutoCompleteRef!.UpdateItems(Countries);
    }
    await InvokeAsync(StateHasChanged);
  }
}
