<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Include>[[Company].[Product]]*,[[Company].[Product].Api]*</Include>
					<Exclude>[[Company].[Product]]*Migrations.*,[[Company].[Product].Api]*Program,</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
