<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Include>[Zuhid.Auth]*</Include>
					<Exclude>[Zuhid.Auth]*Migrations.*,[Zuhid.Auth]*Program,[Zuhid.Auth]*AppSetting</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
