<div class="autocomplete">
  <input class="autocomplete-input" @bind="SearchText" type="text" @oninput="OnInputChanged" />
  @if (ShowSuggestions && FilteredItems?.Any() == true)
  {
    <ul class="autocomplete-list">
      @foreach (var item in FilteredItems)
      {
        <li class="autocomplete-item" onclick="@(() => SelectItem(item))">@item</li>
      }
    </ul>
  }
</div>
@code {
  [Parameter]
  public List<string> Items { get; set; } = [];
  [Parameter] public string? Value { get; set; } = string.Empty;
  [Parameter] public EventCallback<string?> ValueChanged { get; set; }

  private string? SearchText { get; set; } = string.Empty;
  private List<string> FilteredItems { get; set; } = [];
  private bool ShowSuggestions { get; set; }

  public async Task UpdateItems(List<string> newItems)
  {
    Value = string.Empty;
    SearchText = string.Empty;
    ShowSuggestions = false;
    Items.Clear();
    Items.AddRange(newItems);
    Console.WriteLine(string.Join(",", newItems));
    await ValueChanged.InvokeAsync();
  }

  private async Task OnInputChanged(ChangeEventArgs e)
  {
    SearchText = e.Value?.ToString() ?? string.Empty;
    FilteredItems = Items
    .Where(i => i.Contains(SearchText, StringComparison.OrdinalIgnoreCase))
    .Take(10)
    .ToList();
    ShowSuggestions = FilteredItems.Any();
    await InvokeAsync(StateHasChanged);
  }

  private async Task SelectItem(string item)
  {
    SearchText = item;
    ShowSuggestions = false;
    FilteredItems.Clear();
    Value = item;
    await ValueChanged.InvokeAsync(item);
  }
}
