@using System.Data
<table>
  <thead>
    <tr>
      @foreach (DataColumn column in DataTable.Columns)
      {
        <th>@((MarkupString)column.Caption)</th>
      }
    </tr>
  </thead>
  <tbody>
    @foreach (DataRow row in DataTable.Rows)
    {
      <tr>
        @foreach (DataColumn column in DataTable.Columns)
        {
          <td>@((MarkupString)(row[column.ColumnName]?.ToString() ?? ""))</td>
        }
      </tr>
    }
  </tbody>
</table>
@code {
  [Parameter] public System.Data.DataTable DataTable { get; set; } = new System.Data.DataTable();
}
