<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList">
      <td *ngFor="let column of columns">{{ data[column.key] }}</td>
    </tr>
    <tr *ngFor="let row of dataList">
      <td *ngFor="let col of columns;let i = index;">
        {{col.key}}: {{ col.template }}
        <ng-container *ngTemplateOutlet="col.template;context: getCellContext(row, col)"></ng-container>
        <!-- <ng-container *ngIf="cellTemplates.get(col.key) as cellTpl; else defaultCell">
          <ng-container *ngTemplateOutlet="cellTpl; context: getCellContext(row, col)" />
        </ng-container>
        <ng-template #defaultCell>{{col.key}}: {{ cellTemplates.get(col.key) }}</ng-template> -->
      </td>
    </tr>

    <!-- 
    <tr *ngFor="let data of dataList">
      <td *ngFor="let column of columns">{{ data[column.key] }}</td>
    </tr> -->
  </tbody>
</table>
